@tailwind base;
@tailwind components;
@tailwind utilities;

// Variables
@import './_theme.scss';

// Components
@import './components/header/_header.scss';
@import './components/footer/_footer.scss';
@import './components/hamburgerMenu/_hamburgerMenu.scss';
@import './components/pageWrapper/_pageWrapper.scss';
@import './components/videoContainer/_videoContainer.scss';
@import './components/spinner/_spinner.scss';


// Pages
@import './pages/home/_home.scss'; // About Us
@import './pages/aboutUs/beliefs/_beliefs.scss';
@import './pages/aboutUs/whatToExpect/_whatToExpect.scss';
@import './pages/aboutUs/vision/_vision.scss';
@import './pages/aboutUs/leadership/_leadership.scss';
@import './pages/aboutUs/elder/_elder.scss';

@import './pages/eventInfo/bulletin/_bulletin.scss'; // Event Info

@import './pages/giving/stocksAndCrypto/_stocksAndCrypto.scss'; // Giving

@import './pages/connect/membership/_membership.scss'; // Connect
@import './pages/connect/kids/_kids.scss';

:root {
    --header-height: 60px;
    --page-height: calc(100svh - var(--header-height));
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    scroll-behavior: smooth;

    font-family: var(--font-family-1); // 'Open Sans', sans-serif;
}

h1 {
    &, p, span {
        font-family: var(--font-family-2); // 'Niobium', 'Open Sans', sans-serif;
    }
}

body {
    background-color: #F7F7F7;
    // background-image: url('./assets/images/textures/60-lines.png');
    // background-image: url('./assets/images/textures/az-subtle.png');

    // background-image: url('./assets/images/textures/binding-light.png');

    // background-image: url('./assets/images/textures/clean-gray-paper.png');
    // background-image: url('./assets/images/textures/cream-paper.png');

    background-image: url('./assets/images/textures/handmade-paper.png');

    // background-image: url('./assets/images/textures/light-paper-fibers.png');
    // background-image: url('./assets/images/textures/natural-paper.png');
    // background-image: url('./assets/images/textures/textured-paper.png');
    // background-image: url('./assets/images/textures/white-paperboard.png');
    color: #333333;
}


// Scrollbar
*, body {
    // scrollbar-width: var(--scrollbar-width);
    scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-bg);
  
    &::-webkit-scrollbar {
      width: var(--scrollbar-width);
      // border-radius: 10px !important;
    }
    
    &::-webkit-scrollbar-track {
      background: var(--scrollbar-bg);
      // border-radius: 10px !important;
    }
    
    &::-webkit-scrollbar-thumb {
      background-color: var(--scrollbar-thumb);
      border-radius: 6px;
      border: 3px solid var(--scrollbar-bg);
    }
}

a {
    text-decoration: none;
    cursor: pointer;
}

button, a {
    transition: all 0.2s ease-in-out;

    &:hover, &.active {
        // background-color: #D4AF37;
        color: var(--font-active-color);
    }

    &.disabled {
        color: gray !important;
        pointer-events: none;
        cursor: not-allowed;
    }
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}