.header {
    nav {
        
        ul li {
            
            button, a {
                display: flex;
                align-items: center;

                height: 60px;
                padding: 25px 10px 5px 10px;
                gap: 5px;

                svg {
                    margin: auto auto;
                }
            }
        }
    }
}